@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Leaflet container must have explicit height */
.leaflet-container {
  height: 100%;
  width: 100%;
}
